__pycache__
*.csv
ex_data/
/LibriSpeech
test*
test*
/aishell_test
/noisy_testset_wav
/testset_txt
/pretrained_models
/model
/outputs
data/
/noisy_testset_wav
/testset_txt
/pretrained_models
/model
/outputs
data/